<%- include('header.ejs') %>

  <div class='container'>
    <h1>
      Profile
    </h1>
    <%=user.name %>
      <%=user.username%>
        <%=user.phone%>
          <%=user.email%>
            <%=user.address%>
  </div>
  <br>
  <a href='/'>Back to Account Summary</a>
  <%- include('footer.ejs') %>